<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>
<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elit urna, vestibulum at sapien sit amet,
        ultricies luctus sem. Etiam eu lorem tortor. Curabitur eget metus quis mauris sodales tempor sit amet vel magna.
        Duis vitae auctor velit, vitae vulputate enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
        ac pretium lectus, a elementum ex. Sed et eros et est efficitur rutrum sed sit amet ante. Etiam ornare lectus ut
        finibus semper. Sed sodales consectetur tellus nec sodales. Ut massa ante, laoreet sit amet vestibulum non,
        ullamcorper et mi. Nulla sit amet urna massa. Mauris cursus vehicula justo eget posuere.
    </p>
    <p>
        Etiam quis odio quis mauris fermentum volutpat eu a erat. Quisque ultrices vel orci quis efficitur. Maecenas a
        molestie dui. Ut ac tempor lacus. Duis dictum, leo sit amet porta pretium, augue nisl sollicitudin risus, eu
        finibus risus libero ut ante. Morbi dapibus lectus sit amet erat placerat, nec consequat augue euismod. Nulla
        sapien libero, rutrum at placerat vitae, porttitor sit amet sem. Duis id ante malesuada, dapibus tortor sed,
        accumsan lacus. Nunc vulputate quam ac interdum mattis. Nulla eget diam nisl. Sed sodales porttitor nunc, non
        condimentum ipsum dapibus vestibulum. Sed sollicitudin, mi id aliquet dapibus, tortor metus sollicitudin urna,
        eget malesuada eros velit faucibus ante. Nullam ut volutpat sem. Quisque tellus metus, fringilla vel bibendum
        in, lacinia et ligula. Maecenas at est diam.
    
</article>