.container {
    padding: 50px;
    padding-top: 10px;
}

.container h2 {
    border-bottom: 1px solid #FACBEA;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: block;
}

span .image {
    width: 50%;
    float: left;
}

img {
    width: 100%;
}